/* PROVVISORY UTILITIES */
/* header */
header .nav_box {
    height:90px;
}

/* hero */
.hero .logo {
    height: 250px;
}

h1 {
    height: 50px;
}

hr {
    height: 15px;
}

.hero nav {
    height: 24px
}

/* portfolio */
h2 {
    height: 35px;
}

.card {
    height: 250px;
}

/* about */
.content_1, .content_2 {
    height: 250px;
}

.button {
    height: 30px;
}

/* contact */
.box {
    height: 60px;
}

.box:last-child {
    height: 100px;
}

/*PROVVISORY COLORS */
.bordered {
    border: 1px solid black;
}

.bg_red {
    background-color: red;
}

.bg_orange {
    background-color: orange;
}

.bg_yellow {
    background-color: yellow;
}

.bg_green {
    background-color: green;
}

.bg_lightblue {
    background-color: lightblue;
}

.bg_lightblack {
    background-color: #2c3e50;
}

.bg_acquamarine {
    background-color: #1abc9c;
}